.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttonNewOrder{
  margin-left: 2rem;

}

.button{
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;



}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.side{
  /*height: 100%; /* Full-height: remove this if you want "auto" height */
  /*width: 100%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  min-width: 100%;

}

.nav{
  margin-bottom: 1%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 100;

}

.left {
  float: left;
  position: fixed;

}

.main {
  float: left;
  width: 80%; /* The width is 60%, by default */
}


.div1 {
        /* Suppose you want minimum width of 1000px */

}


/* Use a media query to add a break point at 1000px: */
@media screen and (max-width: 1000px) {
    .main {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    padding-top: 35%;
  }
}


/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 900px) {
  .main {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    padding-top: 40%;
  }
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 700px) {
  .main {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    padding-top: 50%;
  }
}


/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 600px) {
  .main {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    padding-top: 55%;
  }
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 500px) {
  .main {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    padding-top: 60%;
  }
}




@media screen and (max-width: 1000px) {
  .left {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    padding-right: 5%;
    padding-top: 2%;
  }
}

@media screen and (max-width: 1000px) {
  .left {
position: absolute;
  }
}

@media screen and (min-width: 1000px) {
  .left {
    width: 15%;
  }
}


