.body{
    overflow-x:hidden;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#00cc99,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.containerCard{
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.containerRadarChart{
    /*padding-left: 3%;
    margin-top: 5px;
    width:40%;
    margin-right: 5%;*/
}

.containerLinearChart{
    /*margin-top: 50px;
    margin-left: 5%;
    width:60%;*/
}

.buttonWM{
    /*margin-left: 90%;*/
    margin-top: 10px;

}

/*.searchB{
    margin-bottom: 1%;
    margin-left: 3%;
    width: 94%;
    margin-top: 50px;
}*/

.cardChart1{
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
    margin-right: 10px;
    margin-left: 10px;
    width: 40%;
    height: 600px;
}

.cardChart2{
     box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
     margin-right: 10px;
     margin-left: 20%;
    width: 60%;
    height: 600px;
}

.cardChart3{
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
    margin-right: 10px;
    margin-left: 10px;
    width: 65%;
    height: 600px;
}

.cardTitle{

margin-bottom: 20px;
}

.cardFilterText{
    margin-top: 15px;
    margin-left: 80%;
    margin-right: 10px;
}
