.button{
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.searchProd{
  margin-bottom: 1%;
  margin-left: 0.1%;
  margin-right: 3%;

}

.g-4{
  margin-bottom: 2%;
}


.main {
  float: left;
  width: 80%; /* The width is 60%, by default */
}

/* Use a media query to add a break point at 1000px: */
@media screen and (max-width: 1000px) {
  .main {
  width: 100%; /* The width is 100%, when the viewport is 1000px or smaller */
  padding-top: 35%;
}
}


/* Use a media query to add a break point at 900px: */
@media screen and (max-width: 900px) {
.main {
  width: 100%; /* The width is 100%, when the viewport is 900px or smaller */
  padding-top: 40%;
}
}

/* Use a media query to add a break point at 700px: */
@media screen and (max-width: 700px) {
.main {
  width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  padding-top: 50%;
}
}


/* Use a media query to add a break point at 600px: */
@media screen and (max-width: 600px) {
.main {
  width: 100%; /* The width is 100%, when the viewport is 600px or smaller */
  padding-top: 55%;
}
}

/* Use a media query to add a break point at 500px: */
@media screen and (max-width: 500px) {
.main {
  width: 100%; /* The width is 100%, when the viewport is 500px or smaller */
  padding-top: 60%;
}
}
