.nav{
    margin-bottom: 1%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    height: 90px; 
  }

/*   #clock {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  .glow {
     font-size: 20px;
     color: #fff;
     font-weight: bold;
     animation: glow 1s ease-in-out infinite alternate;
     -moz-animation: glow 1s ease-in-out infinite alternate;
     -webkit-animation: glow 1s ease-in-out infinite alternate;
}


.clockWrapper{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .clockWrapper Button{
  font-size: 8px;
}

#incrementDay{
  position: relative;
  left: 13%;
}
#decrementDay{
  position: relative;
  left: 13%;
}

#incrementHour{
  position: relative;
  left: 24%;
}
#decrementHour{
  position: relative;
  left: 24%;
}
