.nav{
    margin-bottom: 1%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    height: 90px; 
  }

  #clock {
    display: inline;
  } 


  .glow {
     font-size: 23px;
     color: #fff;
     font-weight: bold;
     animation: glow 1s ease-in-out infinite alternate;
     -moz-animation: glow 1s ease-in-out infinite alternate;
     -webkit-animation: glow 1s ease-in-out infinite alternate;
}
#resetTime{
  display: inline;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
}



.clockWrapper{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .clockWrapper Button{
  font-size: 7px;
}

#incrementDay{
  position: relative;
  left: 13%;
}
#decrementDay{
  position: relative;
  left: 13%;
}

#incrementHour{
  position: relative;
  left: 24%;
}
#decrementHour{
  position: relative;
  left: 24%;
}

 #incrementMinutes{
  position: relative;
  left: 28%;
}
#decrementMinutes{
  position: relative;
  left: 28%;
} 

